.tweet-container {
  width: 35%;
  // height: 500px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  border-radius: 20px;
  overflow: auto;
  padding: 10px;
}
.tweet-description {
  text-align: left;
  padding: 40px 20px;
  height: 350px;
}

.tweet-description span{
  background-color: inherit;
}

.tweet-liner {
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  margin-left: 20px;
}

.comment-icon-container {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 10px;
}

.comment-icon-container:hover {
  background-color: rgba(106, 79, 79, 0.1);
  cursor: pointer;
}

.comment-icon {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.7);
  align-self: center;
}

.comment-icon-container span {
  color: rgba(0, 0, 0, 0.7);
}
